.setting{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.menu ul{
    background-color: white;
    margin-right: 15px;
    
    color: black;
}

.menu li{
    padding: 10px 0px 10px 10px;
}

.menu li:hover{
    background-color: #dfdfdf;
    cursor: pointer;
}

.listLink{
    padding: 10px 60px 10px 10px;
}



nav{
    top: 0px;
}

.setHeader{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.idk{
    display: flex;
    font-size: 20px;
    font-weight: 300;
    margin: 7px 0px 7px 0px;
    width: 700px;
    justify-content: space-between;
}

.jsStuff{
    margin: 0px 10px;
}

.dumb{
    color: gray;
}

.edit{
    margin: 0px;
    color: gray;
    font-size: 17px;
    text-decoration: underline;
    text-align: center;
}

.ik{
    display: flex;
}

.formDk{
    width: 50%;
    display: flex;
}

.selected{
    background-color: black;
    height: 44px;
    width: 5px;
    position: absolute;
    left: 275px;

}

.formHehe{
    width: 50%;
    font-size: 17px;
}

.formHehe:hover{
    cursor: pointer;
}

.formBirth{
    width: 33%;
    font-size: 17px;
}

.formBirth:hover{
    cursor: pointer;
}

.gender{
    height: 35;
    width: 50px;
}

.btnAll{
    color: white;
    height: 35px !important;
    background-color: #0a6efd;
    margin: 0px;
}

.inputOrg{
    height: 30px;
    font-size: 17px;
    width: 300px;
}

.saveInfo{
    background-color: #198755 !important;
    color: white;
    margin-top: 30px;
}

@media (max-width: 1200px) {
    .formMb{
        height: 30px;
        font-size: 14px;
    }

    .listLink{
        padding: 5px 40px 5px 5px;
        font-size: 15px;
    }

    .menu li{
        padding: 5px 0px 5px 5px;
    }

    .idk{
        width: 500px;
    }

    .selected{
        display: none;
    }

    .setHeader{
        font-size: 20px;
    }

    .idk{
        font-size: 16px;
    }

    .edit{
        font-size: 16px;
    }
}

@media (max-width: 500px) {
    .idk{
        width: 275px;
        font-size: 14px;
    }

    .listLink{
        padding: 3px 20px 3px 3px;
        font-size: 12px;
    }

    .menu li{
        width: 100px;
    }
    
    .list{
        font-size: 12px;
    }

    .setting{
        justify-content: flex-start;
    }

    .formMb{
        height: 25px;
        font-size: 11px;
        width: 70%;
    }

    .formDk{
        width: 70%;
    }

    .setHeader{
        font-size: 18px;
    }

    .edit{
        font-size: 14px;
    }

    .bodyText{
        width: 275px;
        font: 14px;
    }
}